.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.asterisk {
  color: var(--primary-red);
  font-weight: 900;
  font-family: var(--fonts-heading);
  font-size: 20px;
  margin-right: 1px;
}

.title {
  font-weight: 900;
  font-family: var(--fonts-heading);
  font-size: 20px;
  margin: auto 0;
  margin-right: 7px;
  color: var(--primary-dark-green);
}

.icon_container {
  /* border: 1px solid green; */
  display: flex;
  font-family: var(--fonts-heading) !important;
  font-weight: 900 !important;
}

.icon {
  margin: auto 0px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 7px;
}

.info_icon {
  color: var(--primary-dark-green);
}



@media only screen and (max-width: 1024px) {

  .title {
    font-size: 18px;
  }
}
