.container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg);
}

.heading {
  color: var(--primary-dark-green);
  font-family: var(--fonts-heading);
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 7vh;
}

.heading:after {
  border-bottom: 5px solid var(--primary-yellow);
  content: "";
  display: block;
  width: 61%;
  margin-left: 39%;
  position: relative;
  top: -13px;
}


.departments_ctnr {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
