.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info_container {

}


.main_heading {
    color: var(--primary-dark-green);
    font-weight: 900;
    font-size: 72px;
}

.banner {

    width: 40%;
    height: auto;
}