.container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

.heading {
  color: var(--primary-dark-green);
  font-family: var(--fonts-heading);
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 7vh;
}

.heading:after {
  border-bottom: 5px solid var(--primary-yellow);
  content: "";
  display: block;
  width: 61%;
  margin-left: 39%;
  position: relative;
  top: -13px;
}

.para {
  color: var(--primary-yellow);
  font-weight: 900;
  font-family: var(--fonts-paragraph);
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
  margin-bottom: 7vh;
}

.portfolio_cards_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  /* padding: 5vh; */
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 42px;
  }

  .para {
    font-size: 16px;
    width: 90%;
  }

  .portfolio_cards_container {
    grid-template-columns: 1fr 1fr;

  }
}

@media only screen and (max-width: 700px) {
  .portfolio_cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
