.container {
  padding: 5vh 3vw 20vh 3vw;
  width: 100vw;
  margin-top: 17vh;
  background-color: var(--primary-dark-green);
}

/* SECTION 1 */
#section_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7vh;
}

#logo_ctnr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 30%;
}

#logo {
  width: auto;
  height: 70px;
  margin: auto 0px;
  margin-right: 17px;
  cursor: pointer;
}

#logoname {
  color: var(--primary-bg-always);
  font-family: var(--fonts-heading);
  font-weight: 900;
  font-size: 36px;
  margin: auto 0px;
  text-transform: uppercase;
}

.nav_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5vw;
  width: 69%;
  margin: auto 0px;
}

.nav_ele {
  color: var(--primary-bg-always);
  font-family: var(--fonts-heading);
  font-weight: 900;
  font-size: 18px;
  text-transform: capitalize;
}

.nav_ele:hover {
  color: var(--primary-yellow);
}

/* SECTION 2 */
#section_two {
  width: 23%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

#section_two_heading {
  color: var(--primary-bg-always);
  font-family: var(--fonts-heading);
  font-weight: 900;
  font-size: 28px;
  margin: auto 0px;
  text-transform: capitalize;
  margin-bottom: 2vh;
}

#section_two_btn {
  width: 60%;
}

/* SECTION 3 */
#section_three {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#section_three_para_ctnr {
  display: flex;
  flex-direction: column;
}

.para {
  color: var(--primary-bg-always);
  font-family: var(--fonts-heading);
  font-size: 18px;
}

#connect_with_us_ctnr {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#connect_with_us {
  color: var(--primary-bg-always);
  font-family: var(--fonts-heading);
  /* font-weight: 900; */
  font-size: 32px;
  margin-bottom: 1vh;
  text-transform: capitalize;
}

.icons_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon_wrapper {
  margin: 0 7px;
}

.icon {
  color: var(--primary-bg-always);
  font-size: 32px;
}

/* STORY */
#logo_story_ctnr {
  position: fixed;
  top : 300vh;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-bg);
  padding: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 106;
  transition: top 0.4s ease-in-out;
}

.close_btn_ctnr {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 4px 4px 0px;
}

.close_icon {
  font-size: 64px;
  color: var(--primary-dark-green);
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px var(--text-color-always-black);
  border-radius: 50%;
  padding: 0px;
}

.story_ctnr {
  width: 80%;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.story_title {
  font-family: var(--fonts-heading);
  font-weight: 900;
  font-size: 2rem;
  color: var(--primary-dark-green);
  background-color: var(--primary-bg);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5vh;
}

.story_para {
  width: 60%;
  color: var(--primary-yellow);
  font-family: var(--fonts-paragraph);
  font-size: 1.3rem;
  font-weight: 900;
  margin: 3vh 0;
  padding-bottom: 2vh;
  border-bottom: 5px solid var(--primary-dark-green);
  border-radius: 0px 0px 5px 5px;
}


@media only screen and (max-width: 1024px) {
  #section_one {
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
    text-align: center;
  }

  #logo_ctnr {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #logo {
    height: 30vh;
    margin: 0;
    margin-bottom: 3vh;
  }

  #logoname {
    margin-bottom: 2vh;
    font-size: 32px;
  }

  .nav_container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .nav_ele {
    font-size: 23px;
    margin-bottom: 1vh;
  }

  /* SECTION 3 */
  #section_three {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* STORY */
  #logo_story_ctnr {
    flex-direction: column;
    justify-content: flex-start;
  }

  .close_btn_ctnr {
    width: 100vw;
    /* border: 2px solid red; */
    padding: 5vh 0;
  }

  .story_ctnr {
    /* border: 2px solid red; */
    width: 95vw;
    margin: 0 auto;
    /* padding-top: 7vh; */
  }

  .story_title {
    font-size: 28px;
  }

  .story_para {
    width: 100%;
    font-size: 14px;
    padding-bottom: 5vh;
    text-align: center;
}
}
