.container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

.heading {
  color: var(--primary-dark-green);
  font-family: var(--fonts-heading);
  font-weight: 900;
  font-size: 72px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 7vh;
}

.heading:after {
  border-bottom: 5px solid var(--primary-yellow);
  content: "";
  display: block;
  width: 61%;
  margin-left: 39%;
  position: relative;
  top: -13px;
}

.para {
  color: var(--primary-yellow);
  font-weight: 900;
  font-family: var(--fonts-paragraph);
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
}

.message {
  color: var(--primary-dark-green);
  font-family: var(--fonts-heading);
  font-size: 20px;
  font-weight: 900;
}

/* FORM */
.form_container {
  /* border : 1px solid red; */
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}



@media only screen and (max-width: 1024px) {

  .heading {
    font-size: 42px;
    margin-bottom: 5vh;
  }

  .para {
    font-size: 16px;
    width: 90%;
  }

  .form_container {
    width: 90%;
  }
}